fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-openai
chromadb
pypdf
python-docx
docx2txt
python-dotenv
langchain-text-splitters
langchain-groq
sentence-transformers
langchain-huggingface
torchvision
requests
beautifulsoup4
googlesearch-python
duckduckgo-search
pydantic
